.container{
text-align: center;
margin-top: 50px;

}
h1{
    font-family: 'Gill Sans MT';
    font-size: 49px;
    text-transform: capitalize;
    text-transform: uppercase;
}
input{
    font-size: 27px;
    border: 6px solid darkgray;
    border-radius: 0px;
    text-align: right;
    
   
}

table{
    margin: auto;
}
button{
    height: 84px;
    width: 84px;
    font-size: 30px;
    color: rgb(255, 0, 0);
    background-color:rgb(255, 201, 120);
    border-radius: 25px;
    text-align: center;
}
.calculator{
    display: inline-block;
    border: 5px solid black;
    border-radius: 5px;
    background-color: darkorange;
}